<div class="container-fluid">
  <div class="add-button-wrapper">
    <button
      mat-fab
      matTooltip="Create New User"
      color="primary"
      (click)="createNewUser()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="users$">
    <ng-container *ngIf="users$; else noItemTemplate">
      <app-user-table
        [users]="users$ | async"
        (update)="updateUser($event)"
        (delete)="deleteUser($event)"
      ></app-user-table>
    </ng-container>
    <ng-template #noItemTemplate>
      <div class="alert alert-warning">
        <p>User list have no item</p>
      </div>
    </ng-template>
  </ng-container>
</div>