<mat-toolbar>
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="app-logo">
          <a
              mat-icon-button
              [routerLink]="['/']"
              color="primart"
            >
              <img
                src="/assets/icons/user_logo-300x300.png"
                alt="site-logo"
                loading="lazy"
              />
            </a>
        </div>
        <div class="toolbar-navigation">
          <ng-container *ngIf="currentUser | async as user;else noUser">
            <!-- USER MENU -->
            <button
              matTooltip="User Menu"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="User Menu"
            >
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item disabled>
                <mat-icon>person</mat-icon>
                <span>{{ user?.fullName }}</span>
              </button>
              <button mat-menu-item (click)="logOut()">
                <mat-icon color="warn">logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
          </ng-container>
          <ng-template #noUser>
            <button
              matTooltip="User Menu"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="User Menu"
            >
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item disabled>
                <mat-icon>no_accounts</mat-icon>
                <span>Deleted User</span>
              </button>
              <button mat-menu-item (click)="logOut()">
                <mat-icon color="warn">logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
          </ng-template>
  
        </div>
      </div>
    </div>
  </mat-toolbar>
  