<div class="toolbar-navigation">
    <ng-container *ngIf="currentUser | async as user;else noUser">
        <div>
            <a
            mat-icon-button
            [routerLink]="['/']"
            color="primart"
            >
            HOME
            </a>
        </div>
        <div>
            <a
                mat-icon-button
                [routerLink]="['/user-list']"
                color="primart"
                *ngIf="user.role>1"
            >
                USERS
            </a>
        </div>
        <div>
            <a
                mat-icon-button
                [routerLink]="['/**']"
                color="primart"
                *ngIf="user.role>1"
            >
                PAGE NOT FOUND
            </a>
        </div>
        <!-- USER MENU -->
        <div>
            <button
                mat-icon-button
                aria-label="User Menu"
                (click)="logOut()"
            >
                LOGOUT
            </button>
        </div>
    </ng-container>
    <ng-template #noUser>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="User Menu"
        >
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
            <mat-icon>no_accounts</mat-icon>
            <span>Deleted User</span>
            </button>
            <button mat-menu-item (click)="logOut()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Logout</span>
            </button>
        </mat-menu>
    </ng-template>
</div>

  
