<div id="menu">
    <ul class="menu">
        <li class="marker">
            <a
            [routerLink]="['/']"
            color="primart"
            >
            <mat-icon class="leftIcon">home</mat-icon>
            HOME
            </a>
        </li>
        <li class="marker">
            <a
                [routerLink]="['/user-list']"
                color="primart"
            >
            <mat-icon class="leftIcon">supervised_user_circle</mat-icon>
                USERS
            </a>
        </li>
        <li class="marker">
            <a
                [routerLink]="['/**']"
                color="primart"
            >
            <mat-icon class="leftIcon">error</mat-icon>
                PAGE NOT FOUND
            </a>
        </li>
        <!-- USER MENU -->
        <li class="marker">
            <a
                href=""
                (click)="logOut()"
            >
            <mat-icon class="leftIcon">power_settings_new</mat-icon>
                LOGOUT
            </a>
        </li>
    </ul>
    <!-- <ng-template #noUser>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="User Menu"
        >
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
            <mat-icon>no_accounts</mat-icon>
            <span>Deleted User</span>
            </button>
            <button mat-menu-item (click)="logOut()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Logout</span>
            </button>
        </mat-menu>
    </ng-template> -->
</div>

  
