<mat-card class="home-card">
    <ng-container *ngIf="currentUser$ | async as currentUser">
      <mat-card-header *ngIf="currentUser">
        <div mat-card-avatar class="home-header-image"></div>
        <mat-card-title>{{ currentUser?.fullName }}</mat-card-title>
        <mat-card-subtitle>{{ userRoles[currentUser.role] }}</mat-card-subtitle>
      </mat-card-header>
    </ng-container>
  
    <mat-card-content>
      <div class="background-dashboard">
        <img
          src="/assets/images/background-dashboard.png"
          alt="site-logo"
          loading="lazy"
        />
      </div>
    </mat-card-content>
  </mat-card>
  